.ND
.LP
.SH
\s+2Final Project\s-2
.IP "\fBPurpose:\fR"
.br
To tie together three totally
unrelated graphics rendering issues.
.sp
.IP "\fBTopics:\fR"
.br
Virtual Reality
.br
Anisotropic Highlights
.br
Display of Translucent Volumes
.sp
.IP "\fBStatement:\fR"
.br
Paragraph: What it's about.
.IP
Paragraph: What to do.
.IP
Paragraph: Why it is interesting and challenging.
.IP
Paragraph: What I will learn.
.sp
.IP "\fBGoals:\fR"
.br
What major types of objectives will be achieved.
For instance: a piece of animal fur will be
rendered as if under 42 klieg lights, in
full holographic view,
simulated as if floating in maple syrup.
Specific furs to be offered will include those of the
unicorn and the griffin.
.sp
.IP "\fBCommunication:\fR"
The flow of information is described.
.RS
.IP "\fBInput:\fR"
Garbage in.
.IP "\fBInteraction:\fR"
Chaotic handwaving.
.IP "\fBOutput:\fR"
Garbage out.
.RE
.sp
.IP "\fBModules:\fR"
Layout of \f(CW*.c\fR's and \f(CW*.h\fR's.
.sp
.IP "\fBTechnical Outline:\fR"
To get bold face: \fBbold face words\fR.
To get italics: \fIitalic face words\fR.
To get typewriter font: \f(CWtyped words\fR.
To get larger words: \s+2large words\s-2.
To get smaller words: \s-2small words\s+2.
The major commands are \f(CW.IP\fR
(indented paragraph), \f(CW.sp\fR
(line space), \f(CW.br\fR
(line break), \f(CW.RS\fR
(start right indent), \f(CW.RE\fR
(end right indent), \f(CW\\f\fR
(change font), \f(CW\\s\fR (change size)
.sp
.IP "\fBMilestones:\fR"
.br
The step-by-step plan to achieve the objectives.
.sp
.IP "\fBBibliography:\fR"
Articles and/or books with important information
on the topics of the project.
.sp
.IP "\fBOrganisation:\fR"
.RS
All files will be found in the subdirectories under
the \f(CWA5\fR directory.
The subdirectories and files are indicated in the following.
.RE
.sp
.IP "\fBDocumentation"
.RS
The file \f(CWdoc/README\fR give a brief
installation guide.
The file \f(CWdoc/MANUAL\fR is a (not too lengthy)
user's guide to running the programme.
The file \f(CWdoc/REPORT\fR (for graduate students)
is a short technical report on the principles, algorithms,
and background literature on the project.
.RE
.sp
.IP "\fBSource:\fR"
.RS
\f(CWsrc/*.c\fR and \f(CWsrc/*.h\fR
.br
\f(CWmake project\fR will compile and install everything.
.RE
.sp
.IP "\fBExecutable:\fR"
.RS
\f(CWexe/project\fR
.RE
.sp
.IP "\fBData Files:\fR"
.RS
\f(CWdata/project.data\fR
.RE
.bp
.IP "\fBObjectives:\fR"
.sp
.nf
\fBFull UserID: ______________\t\t\t\tStudent ID: ______________\fR
.fi
.sp
.RS
.IP "___"
Objective one.
.IP "___"
Objective two.
.IP "___"
And so on.
.RE
